

<div class="header-action_dropdown" aria-labelledby="dropdownCartButton">
        <div class="site-cart">
            <div class="header">
                <span>SHOPPING CART</span>
                <a href="javascript:;" onclick="initCart('close')"><i class="fal fa-times"></i></a>
            </div>
            <div class="cart-view">
                <div class="cart-view-scroll">
                    <table id="clone-item-cart" class="table-clone-cart">
                        <tbody>
                            <tr class="item_2 hidden">
                                <td class="img">
                                    <a href="" title=""><img src="//theme.hstatic.net/200000384421/1000955298/14/1x1.jpg?v=20" alt=""></a>
                                </td>
                                <td>
                                    <p class="pro-title">
                                        <a class="pro-title-view" href="" title=""></a>
                                        <span class="variant"></span>
                                    </p>
                                    <div class="mini-cart_quantity">
                                        <div class="pro-quantity-view"><span class="qty-value"></span></div>
                                        <div class="pro-price-view"></div>
                                    </div>
                                    <div class="remove_link remove-cart"></div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table id="cart-view">

                        <tbody>
                            <tr class="item-cart_empty">
                                <td>
                                    <div class="svgico-mini-cart">
                                        <i class="fal fa-shopping-cart"></i>
                                    </div>
                                    Hiện chưa có sản phẩm
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <div class="line"></div>
                <div class="cart-view-total">
                    <table class="table-total">
                        <tbody>
                            <tr>
                                <td class="text-left">TỔNG TIỀN:</td>
                                <td class="text-right" id="total-view-cart">0₫</td>
                            </tr>
                            <tr>
                                <td><a href="/cart" class="linktocart btn btn-primary btn-sm text-uppercase">Xem giỏ hàng</a></td>
                                <td><a href="/checkout" class="linktocheckout btn btn-primary btn-sm text-uppercase">Thanh toán</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>