/* _content/JORDAN_2T.Web/Views/Shared/_AdminLayout.cshtml.rz.scp.css */
/* _content/JORDAN_2T.Web/Views/Shared/_Layout.cshtml.rz.scp.css */
.modal-content[b-jxrcru8rq3] {
    background-color: #fefefe;
    margin: 5% auto !important;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 780px;
    transform: translatey(-30px);
    transition: all .5s;
}

.close[b-jxrcru8rq3] {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    text-align: center;
}

.close:hover[b-jxrcru8rq3],
.close:focus[b-jxrcru8rq3] {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


/*  */

.fb_hidden[b-jxrcru8rq3] {
    position: absolute;
    top: -10000px;
    z-index: 10001
}

.fb_reposition[b-jxrcru8rq3] {
    overflow: hidden;
    position: relative
}

.fb_invisible[b-jxrcru8rq3] {
    display: none
}

.fb_reset[b-jxrcru8rq3] {
    background: none;
    border: 0;
    border-spacing: 0;
    color: #000;
    cursor: auto;
    direction: ltr;
    font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
    font-size: 11px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: normal;
    line-height: 1;
    margin: 0;
    overflow: visible;
    padding: 0;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    text-shadow: none;
    text-transform: none;
    visibility: visible;
    white-space: normal;
    word-spacing: normal
}

.fb_reset>div[b-jxrcru8rq3] {
    overflow: hidden
}

@keyframes fb_transform-b-jxrcru8rq3 {
    from {
        opacity: 0;
        transform: scale(.95)
    }
    to {
        opacity: 1;
        transform: scale(1)
    }
}

.fb_animate[b-jxrcru8rq3] {
    animation: fb_transform-b-jxrcru8rq3 .3s forwards
}

.fb_hidden[b-jxrcru8rq3] {
    position: absolute;
    top: -10000px;
    z-index: 10001
}

.fb_reposition[b-jxrcru8rq3] {
    overflow: hidden;
    position: relative
}

.fb_invisible[b-jxrcru8rq3] {
    display: none
}

.fb_reset[b-jxrcru8rq3] {
    background: none;
    border: 0;
    border-spacing: 0;
    color: #000;
    cursor: auto;
    direction: ltr;
    font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
    font-size: 11px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: normal;
    line-height: 1;
    margin: 0;
    overflow: visible;
    padding: 0;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    text-shadow: none;
    text-transform: none;
    visibility: visible;
    white-space: normal;
    word-spacing: normal
}

.fb_reset>div[b-jxrcru8rq3] {
    overflow: hidden
}

@keyframes fb_transform-b-jxrcru8rq3 {
    from {
        opacity: 0;
        transform: scale(.95)
    }
    to {
        opacity: 1;
        transform: scale(1)
    }
}

.fb_animate[b-jxrcru8rq3] {
    animation: fb_transform-b-jxrcru8rq3 .3s forwards
}

.fb_dialog[b-jxrcru8rq3] {
    background: rgba(82, 82, 82, .7);
    position: absolute;
    top: -10000px;
    z-index: 10001
}

.fb_dialog_advanced[b-jxrcru8rq3] {
    border-radius: 8px;
    padding: 10px
}

.fb_dialog_content[b-jxrcru8rq3] {
    background: #fff;
    color: #373737
}

.fb_dialog_close_icon[b-jxrcru8rq3] {
    background: url(https://connect.facebook.net/rsrc.php/v3/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 0 transparent;
    cursor: pointer;
    display: block;
    height: 15px;
    position: absolute;
    right: 18px;
    top: 17px;
    width: 15px
}

.fb_dialog_mobile .fb_dialog_close_icon[b-jxrcru8rq3] {
    left: 5px;
    right: auto;
    top: 5px
}

.fb_dialog_padding[b-jxrcru8rq3] {
    background-color: transparent;
    position: absolute;
    width: 1px;
    z-index: -1
}

.fb_dialog_close_icon:hover[b-jxrcru8rq3] {
    background: url(https://connect.facebook.net/rsrc.php/v3/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 -15px transparent
}

.fb_dialog_close_icon:active[b-jxrcru8rq3] {
    background: url(https://connect.facebook.net/rsrc.php/v3/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 -30px transparent
}

.fb_dialog_iframe[b-jxrcru8rq3] {
    line-height: 0
}

.fb_dialog_content .dialog_title[b-jxrcru8rq3] {
    background: #6d84b4;
    border: 1px solid #365899;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    margin: 0
}

.fb_dialog_content .dialog_title>span[b-jxrcru8rq3] {
    background: url(https://connect.facebook.net/rsrc.php/v3/yd/r/Cou7n-nqK52.gif) no-repeat 5px 50%;
    float: left;
    padding: 5px 0 7px 26px
}

body.fb_hidden[b-jxrcru8rq3] {
    height: 100%;
    left: 0;
    margin: 0;
    overflow: visible;
    position: absolute;
    top: -10000px;
    transform: none;
    width: 100%
}

.fb_dialog.fb_dialog_mobile.loading[b-jxrcru8rq3] {
    background: url(https://connect.facebook.net/rsrc.php/v3/ya/r/3rhSv5V8j3o.gif) white no-repeat 50% 50%;
    min-height: 100%;
    min-width: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 10001
}

.fb_dialog.fb_dialog_mobile.loading.centered[b-jxrcru8rq3] {
    background: none;
    height: auto;
    min-height: initial;
    min-width: initial;
    width: auto
}

.fb_dialog.fb_dialog_mobile.loading.centered #fb_dialog_loader_spinner[b-jxrcru8rq3] {
    width: 100%
}

.fb_dialog.fb_dialog_mobile.loading.centered .fb_dialog_content[b-jxrcru8rq3] {
    background: none
}

.loading.centered #fb_dialog_loader_close[b-jxrcru8rq3] {
    clear: both;
    color: #fff;
    display: block;
    font-size: 18px;
    padding-top: 20px
}

#fb-root #fb_dialog_ipad_overlay[b-jxrcru8rq3] {
    background: rgba(0, 0, 0, .4);
    bottom: 0;
    left: 0;
    min-height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 10000
}

#fb-root #fb_dialog_ipad_overlay.hidden[b-jxrcru8rq3] {
    display: none
}

.fb_dialog.fb_dialog_mobile.loading iframe[b-jxrcru8rq3] {
    visibility: hidden
}

.fb_dialog_mobile .fb_dialog_iframe[b-jxrcru8rq3] {
    position: sticky;
    top: 0
}

.fb_dialog_content .dialog_header[b-jxrcru8rq3] {
    background: linear-gradient(from(#738aba), to(#2c4987));
    border-bottom: 1px solid;
    border-color: #043b87;
    box-shadow: white 0 1px 1px -1px inset;
    color: #fff;
    font: bold 14px Helvetica, sans-serif;
    text-overflow: ellipsis;
    text-shadow: rgba(0, 30, 84, .296875) 0 -1px 0;
    vertical-align: middle;
    white-space: nowrap
}

.fb_dialog_content .dialog_header table[b-jxrcru8rq3] {
    height: 43px;
    width: 100%
}

.fb_dialog_content .dialog_header td.header_left[b-jxrcru8rq3] {
    font-size: 12px;
    padding-left: 5px;
    vertical-align: middle;
    width: 60px
}

.fb_dialog_content .dialog_header td.header_right[b-jxrcru8rq3] {
    font-size: 12px;
    padding-right: 5px;
    vertical-align: middle;
    width: 60px
}

.fb_dialog_content .touchable_button[b-jxrcru8rq3] {
    background: linear-gradient(from(#4267B2), to(#2a4887));
    background-clip: padding-box;
    border: 1px solid #29487d;
    border-radius: 3px;
    display: inline-block;
    line-height: 18px;
    margin-top: 3px;
    max-width: 85px;
    padding: 4px 12px;
    position: relative
}

.fb_dialog_content .dialog_header .touchable_button input[b-jxrcru8rq3] {
    background: none;
    border: none;
    color: #fff;
    font: bold 12px Helvetica, sans-serif;
    margin: 2px -12px;
    padding: 2px 6px 3px 6px;
    text-shadow: rgba(0, 30, 84, .296875) 0 -1px 0
}

.fb_dialog_content .dialog_header .header_center[b-jxrcru8rq3] {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
    text-align: center;
    vertical-align: middle
}

.fb_dialog_content .dialog_content[b-jxrcru8rq3] {
    background: url(https://connect.facebook.net/rsrc.php/v3/y9/r/jKEcVPZFk-2.gif) no-repeat 50% 50%;
    border: 1px solid #4a4a4a;
    border-bottom: 0;
    border-top: 0;
    height: 150px
}

.fb_dialog_content .dialog_footer[b-jxrcru8rq3] {
    background: #f5f6f7;
    border: 1px solid #4a4a4a;
    border-top-color: #ccc;
    height: 40px
}

#fb_dialog_loader_close[b-jxrcru8rq3] {
    float: left
}

.fb_dialog.fb_dialog_mobile .fb_dialog_close_icon[b-jxrcru8rq3] {
    visibility: hidden
}

#fb_dialog_loader_spinner[b-jxrcru8rq3] {
    animation: rotateSpinner-b-jxrcru8rq3 1.2s linear infinite;
    background-color: transparent;
    background-image: url(https://connect.facebook.net/rsrc.php/v3/yD/r/t-wz8gw1xG1.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    height: 24px;
    width: 24px
}

@keyframes rotateSpinner-b-jxrcru8rq3 {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(360deg)
    }
}

.fb_iframe_widget[b-jxrcru8rq3] {
    display: inline-block;
    position: relative
}

.fb_iframe_widget span[b-jxrcru8rq3] {
    display: inline-block;
    position: relative;
    text-align: justify
}

.fb_iframe_widget iframe[b-jxrcru8rq3] {
    position: absolute
}

.fb_iframe_widget_fluid_desktop[b-jxrcru8rq3],
.fb_iframe_widget_fluid_desktop span[b-jxrcru8rq3],
.fb_iframe_widget_fluid_desktop iframe[b-jxrcru8rq3] {
    max-width: 100%
}

.fb_iframe_widget_fluid_desktop iframe[b-jxrcru8rq3] {
    min-width: 220px;
    position: relative
}

.fb_iframe_widget_lift[b-jxrcru8rq3] {
    z-index: 1
}

.fb_iframe_widget_fluid[b-jxrcru8rq3] {
    display: inline
}

.fb_iframe_widget_fluid span[b-jxrcru8rq3] {
    width: 100%
}

.fb_mpn_mobile_landing_page_slide_out[b-jxrcru8rq3] {
    animation-duration: 200ms;
    animation-name: fb_mpn_landing_page_slide_out-b-jxrcru8rq3;
    transition-timing-function: ease-in
}

.fb_mpn_mobile_landing_page_slide_out_from_left[b-jxrcru8rq3] {
    animation-duration: 200ms;
    animation-name: fb_mpn_landing_page_slide_out_from_left-b-jxrcru8rq3;
    transition-timing-function: ease-in
}

.fb_mpn_mobile_landing_page_slide_up[b-jxrcru8rq3] {
    animation-duration: 500ms;
    animation-name: fb_mpn_landing_page_slide_up-b-jxrcru8rq3;
    transition-timing-function: ease-in
}

.fb_mpn_mobile_bounce_in[b-jxrcru8rq3] {
    animation-duration: 300ms;
    animation-name: fb_mpn_bounce_in-b-jxrcru8rq3;
    transition-timing-function: ease-in
}

.fb_mpn_mobile_bounce_out[b-jxrcru8rq3] {
    animation-duration: 300ms;
    animation-name: fb_mpn_bounce_out-b-jxrcru8rq3;
    transition-timing-function: ease-in
}

.fb_mpn_mobile_bounce_out_v2[b-jxrcru8rq3] {
    animation-duration: 300ms;
    animation-name: fb_mpn_fade_out-b-jxrcru8rq3;
    transition-timing-function: ease-in
}

.fb_customer_chat_bounce_in_v2[b-jxrcru8rq3] {
    animation-duration: 300ms;
    animation-name: fb_bounce_in_v2-b-jxrcru8rq3;
    transition-timing-function: ease-in
}

.fb_customer_chat_bounce_in_from_left[b-jxrcru8rq3] {
    animation-duration: 300ms;
    animation-name: fb_bounce_in_from_left-b-jxrcru8rq3;
    transition-timing-function: ease-in
}

.fb_customer_chat_bounce_out_v2[b-jxrcru8rq3] {
    animation-duration: 300ms;
    animation-name: fb_bounce_out_v2-b-jxrcru8rq3;
    transition-timing-function: ease-in
}

.fb_customer_chat_bounce_out_from_left[b-jxrcru8rq3] {
    animation-duration: 300ms;
    animation-name: fb_bounce_out_from_left-b-jxrcru8rq3;
    transition-timing-function: ease-in
}

.fb_invisible_flow[b-jxrcru8rq3] {
    display: inherit;
    height: 0;
    overflow-x: hidden;
    width: 0
}

@keyframes fb_mpn_landing_page_slide_out-b-jxrcru8rq3 {
    0% {
        margin: 0 12px;
        width: 100% - 24px
    }
    60% {
        border-radius: 18px
    }
    100% {
        border-radius: 50%;
        margin: 0 24px;
        width: 60px
    }
}

@keyframes fb_mpn_landing_page_slide_out_from_left-b-jxrcru8rq3 {
    0% {
        left: 12px;
        width: 100% - 24px
    }
    60% {
        border-radius: 18px
    }
    100% {
        border-radius: 50%;
        left: 12px;
        width: 60px
    }
}

@keyframes fb_mpn_landing_page_slide_up-b-jxrcru8rq3 {
    0% {
        bottom: 0;
        opacity: 0
    }
    100% {
        bottom: 24px;
        opacity: 1
    }
}

@keyframes fb_mpn_bounce_in-b-jxrcru8rq3 {
    0% {
        opacity: .5;
        top: 100%
    }
    100% {
        opacity: 1;
        top: 0
    }
}

@keyframes fb_mpn_fade_out-b-jxrcru8rq3 {
    0% {
        bottom: 30px;
        opacity: 1
    }
    100% {
        bottom: 0;
        opacity: 0
    }
}

@keyframes fb_mpn_bounce_out-b-jxrcru8rq3 {
    0% {
        opacity: 1;
        top: 0
    }
    100% {
        opacity: .5;
        top: 100%
    }
}

@keyframes fb_bounce_in_v2-b-jxrcru8rq3 {
    0% {
        opacity: 0;
        transform: scale(0, 0);
        transform-origin: bottom right
    }
    50% {
        transform: scale(1.03, 1.03);
        transform-origin: bottom right
    }
    100% {
        opacity: 1;
        transform: scale(1, 1);
        transform-origin: bottom right
    }
}

@keyframes fb_bounce_in_from_left-b-jxrcru8rq3 {
    0% {
        opacity: 0;
        transform: scale(0, 0);
        transform-origin: bottom left
    }
    50% {
        transform: scale(1.03, 1.03);
        transform-origin: bottom left
    }
    100% {
        opacity: 1;
        transform: scale(1, 1);
        transform-origin: bottom left
    }
}

@keyframes fb_bounce_out_v2-b-jxrcru8rq3 {
    0% {
        opacity: 1;
        transform: scale(1, 1);
        transform-origin: bottom right
    }
    100% {
        opacity: 0;
        transform: scale(0, 0);
        transform-origin: bottom right
    }
}

@keyframes fb_bounce_out_from_left-b-jxrcru8rq3 {
    0% {
        opacity: 1;
        transform: scale(1, 1);
        transform-origin: bottom left
    }
    100% {
        opacity: 0;
        transform: scale(0, 0);
        transform-origin: bottom left
    }
}

@keyframes slideInFromBottom-b-jxrcru8rq3 {
    0% {
        opacity: .1;
        transform: translateY(100%)
    }
    100% {
        opacity: 1;
        transform: translateY(0)
    }
}

@keyframes slideInFromBottomDelay-b-jxrcru8rq3 {
    0% {
        opacity: 0;
        transform: translateY(100%)
    }
    97% {
        opacity: 0;
        transform: translateY(100%)
    }
    100% {
        opacity: 1;
        transform: translateY(0)
    }
}
