

</html>
<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="shortcut icon" href="//theme.hstatic.net/200000384421/1000955298/14/favicon.png?v=20" type="image/png">
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=0" name="viewport">
    <meta name="revisit-after" content="1 day">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="HandheldFriendly" content="true">
    <title>@ViewData["Title"] - JORDAN_2T</title>
    <meta name="description" content="Hệ thống bán lẻ các sản phẩm thời trang Sneakers, quần áo, phụ kiện, kính mắt, nước hoa, đồng hồ chính hãng mới nhất, giá tốt, dịch vụ khách hàng được yêu thích nhất Việt Nam!">
    <link rel="canonical" href="https://www.jordan1.vn/">
    <meta name="keywords" content="Hệ thống phân phối Air Jordan chính hãng">
    <meta name="robots" content="index,follow,noodp">
    <!-- SEO META DESCRIPTION -->
    <meta name="description" content="Hệ thống bán lẻ các sản phẩm thời trang Sneakers, quần áo, phụ kiện, kính mắt, nước hoa, đồng hồ chính hãng mới nhất, giá tốt, dịch vụ khách hàng được yêu thích nhất Việt Nam!">
    <!-- END SEO META DESCRIPTION -->
    <!-- SEO PAGI -->
    <!-- END SEO PAGI -->
    <meta property="og:type" content="website">
    <meta property="og:title" content="AIR JORDAN VIỆT NAM">
    <meta property="og:image" content="http://theme.hstatic.net/200000384421/1000955298/14/share_fb_home.png?v=20">
    <meta property="og:image:secure_url" content="https://theme.hstatic.net/200000384421/1000955298/14/share_fb_home.png?v=20">
    <meta property="og:description" content="Hệ thống bán lẻ các sản phẩm thời trang Sneakers, quần áo, phụ kiện, kính mắt, nước hoa, đồng hồ chính hãng mới nhất, giá tốt, dịch vụ khách hàng được yêu thích nhất Việt Nam!">
    <meta property="og:url" content="https://www.jordan1.vn/">
    <meta property="og:site_name" content="Hệ thống phân phối Air Jordan chính hãng">

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/JORDAN_2T.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/style.css">
    <script type="text/javascript" src="~/js/script.js"></script>
    <script type="text/javascript" src="~/js/site.js"></script>
   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
</head>

<body id="hogwarts-theme" class="index" style="">
    <div id="fb-root" class=" fb_reset">
        <div style="position: absolute; top: -10000px; width: 0px; height: 0px;">
            <div></div>
        </div>
        <div class=" fb_iframe_widget fb_invisible_flow" fb-iframe-plugin-query="app_id=&amp;attribution=biz_inbox&amp;container_width=1528&amp;current_url=https%3A%2F%2Fwww.jordan1.vn%2F&amp;is_loaded_by_facade=true&amp;local_state=%7B%22v%22%3A1%2C%22path%22%3A2%2C%22chatState%22%3A1%2C%22visibility%22%3A%22hidden%22%2C%22showUpgradePrompt%22%3A%22not_shown%22%2C%22greetingVisibility%22%3A%22hidden%22%2C%22shouldShowLoginPage%22%3Afalse%7D&amp;locale=vi_VN&amp;log_id=e75d9245-b05e-4bda-a1ac-ca20bb962140&amp;page_id=106709828178316&amp;request_time=1680609450293&amp;sdk=joey"><span style="vertical-align: bottom; width: 1000px; height: 0px;"><iframe name="f3264e0dcace978" width="1000px" height="1000px" data-testid="dialog_iframe" title="" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" src="https://www.facebook.com/v12.0/plugins/customerchat.php?app_id=&amp;attribution=biz_inbox&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fx%2Fconnect%2Fxd_arbiter%2F%3Fversion%3D46%23cb%3Df131def183b7cc%26domain%3Dwww.jordan1.vn%26is_canvas%3Dfalse%26origin%3Dhttps%253A%252F%252Fwww.jordan1.vn%252Ff2aefee9875f3%26relation%3Dparent.parent&amp;container_width=1528&amp;current_url=https%3A%2F%2Fwww.jordan1.vn%2F&amp;is_loaded_by_facade=true&amp;local_state=%7B%22v%22%3A1%2C%22path%22%3A2%2C%22chatState%22%3A1%2C%22visibility%22%3A%22hidden%22%2C%22showUpgradePrompt%22%3A%22not_shown%22%2C%22greetingVisibility%22%3A%22hidden%22%2C%22shouldShowLoginPage%22%3Afalse%7D&amp;locale=vi_VN&amp;log_id=e75d9245-b05e-4bda-a1ac-ca20bb962140&amp;page_id=106709828178316&amp;request_time=1680609450293&amp;sdk=joey" style="padding: 0px; position: fixed; z-index: 2147483646; border-radius: 16px; top: auto; background: none; width: 399px; bottom: 84px; max-height: 0px; right: 16px; visibility: visible; height: 373px;" class=""></iframe></span></div>
        <div class="fb_dialog  fb_dialog_advanced" alignment="right" desktop_bottom_spacing="24">
            <div class="fb_dialog_content"><iframe name="blank_f3264e0dcace978" width="60px" tabindex="-1" data-testid="bubble_iframe" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" src="https://www.facebook.com/v12.0/plugins/customer_chat/bubble"
                    style="background: none; border-radius: 60px; bottom: 24px; box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 12px 0px; display: block; height: 60px; margin: 0px 12px; overflow: visible; padding: 0px; position: fixed; right: 12px; top: auto; width: 60px; z-index: 2147483644;"></iframe>
                <iframe name="availabilityStatus_f3264e0dcace978" tabindex="-1" data-testid="availabilityStatus_iframe" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" src="https://www.facebook.com/v12.0/plugins/customer_chat/bubble"
                    style="border-radius: 50%; bottom: 21.5px; height: 15px; position: fixed; right: 24px; width: 15px; z-index: 2147483646;"></iframe><iframe name="unread_f3264e0dcace978" tabindex="-1" data-testid="unread_iframe" frameborder="0"
                    allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" src="https://www.facebook.com/v12.0/plugins/customer_chat/bubble" style="background: none; border-radius: 4pt; bottom: 68px; height: 24px; position: fixed; right: 22px; width: 20px; z-index: 2147483645;"></iframe>
                <iframe name="greeting_f3264e0dcace978" tabindex="-1" data-testid="greeting_iframe" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" src="https://www.facebook.com/v12.0/plugins/customer_chat/bubble"
                    style="animation: 3s ease-out 0s 1 normal none running slideInFromBottomDelay; background: none; border-radius: 16px; bottom: 96px; height: 72px; margin-right: 12px; max-height: 0px; padding: 0px; position: fixed; right: 6px; top: auto; width: 247px; z-index: 2147483646; min-height: 0px;"></iframe>
            </div>
        </div>
    </div>

    <div class="nav-overlay" onclick="initNav('close')"></div>
    <div class="cart-overlay" onclick="initCart('close')"></div>
    <div class="menu-mobile-overlay" onclick="initNav('close')"></div>
    <nav id="menu-mobile" class="">
        <div class="menu-mobile-header">
            <div class="site_search">
                <form asp-controller="Home" asp-action="Search" class="wanda-mxm-search">
                    <div class="search-inner">
                        @* <input type="hidden" name="Search" value="product"> *@
                        <input name="search" autocomplete="off" class="searchinput input-search search-input" type="text" size="20" placeholder="Tìm kiếm sản phẩm..." aria-label="Search">
                    </div>
                    <button type="submit" class="btn-search" id="search-header-btn" aria-label="Tìm kiếm">
                        <img width="24" height="24" src="//theme.hstatic.net/200000397757/1000764296/14/searcg-icon.svg?v=860" alt="Tìm kiếm">
                    </button>
                </form>
                <div id="wanda-smart-search" class="smart-search-wrapper ajaxSearchResults">
                    <div class="results-seach">
                    </div>
                </div>
            </div>
            <span class="close" onclick="initNav('close')"><i class="fal fa-times"></i></span>
        </div>
      
        @{
            Html.RenderPartialAsync("~/Areas/Customer/Views/Category/MobileCategory.cshtml");
                                
        }
    </nav>
    <div class="header-main">
        <header id="header">
            <div class="container">
                <div class="d-flex align-items-center justify-content-between">
                    <div class="header-logo">
                        <div class="header-logo wrap-logo" >

                            <a  asp-area="Customer" asp-controller="Home" asp-action="Index" itemprop="url"  aria-label="Hệ thống phân phối Air Jordan chính hãng">
                                <img itemprop="logo" width="60" height="60" src="//theme.hstatic.net/200000384421/1000955298/14/logo.png?v=20" alt="Hệ thống phân phối Air Jordan chính hãng" class="dt-width-auto logoimg">
                            </a>

                        </div>

                    </div>
                    <div class="header-container_right">
                        <div class="header-menu-desktop menu-desktop d-none d-lg-block">
                             @{
                                Html.RenderPartialAsync("~/Areas/Customer/Views/Category/DesktopCategory.cshtml");
                                Html.RenderPartialAsync("~/Areas/Customer/Views/Category/DesktopCategoryDetails.cshtml");
                                Html.RenderPartialAsync("~/Areas/Customer/Views/Category/DesktopCategoryCarts.cshtml");
                                Html.RenderPartialAsync("~/Areas/Customer/Views/Category/DesktopCategoryLogin.cshtml");
                                Html.RenderPartialAsync("~/Areas/Customer/Views/Category/DesktopCategoryRegister.cshtml");
                                Html.RenderPartialAsync("~/Areas/Customer/Views/Category/DesktopCategoryManager.cshtml");
                                Html.RenderPartialAsync("~/Areas/Customer/Views/Category/DesktopCategoryOrders.cshtml");
                             }
                             
                        </div>

                        <div class="header-right">
                            <div class="header-account text-right">

                                <a class="header_hotline" href="tel:078 3455 333 "><span class="hotline-pc-text">Hotline:</span> 078 3455 333 </a>
                                <div class="">
                                    
                                    <partial name="_LoginPartial.cshtml" />
                                </div>
                                <a class="header-icon-search" onclick="ShowSearch();">
                                    <i class="fal fa-search"></i>
                                </a>
                                <div class="header-icon-cart position-relative">
                                    <div class="header-icon-cart__header cursor-pointer" onclick="initCart('open')">
                                        <a  asp-area="Customer" asp-controller="Carts" asp-action="Index">
                                            @await Component.InvokeAsync("ShoppingCart")
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="header-upper-icon d-lg-none">
                        <div class="header-wrap-icon d-flex justify-content-end">
                            <div class="header-search ml-5">
                                <a href="javascript:void(0);" onclick="initSearch('open')"><i class="fal fa-search fz-20"></i></a>
                            </div>

                            <div class="header-action_menu ml-4 d-lg-none">
                                <a class="close-nav" id="site-menu-handle" onclick="initNav('open')"><i class="fal fa-bars fz-20"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <div class="header-search">
            <div class="container">
                <div class="main-search d-flex align-items-center justify-content-end">
                    <a class="close-search" href="javascript:void(0);" onclick="initSearch('close')">
                        <img src="//theme.hstatic.net/200000384421/1000955298/14/icon-close.png?v=20" alt="close">
                    </a>
                    <div class="search-box wpo-wrapper-search">
                        <form method="post" asp-area="Customer" asp-controller="Home" asp-action="Search" class="searchform-product ultimate-search">
                            <button type="submit" class="btn-search " id="btnSearchAuto-3" aria-label="Tìm kiếm">
                                <i class="fal fa-search"></i>
                           </button>
                            <div class="wpo-search-inner">
                                @* <input type="hidden" name="Search" value="product"> *@
                                <input required="" id="inputSearchAuto-3" class="input-search" name="search" maxlength="40" autocomplete="off" type="text" size="20" placeholder="Tìm kiếm sản phẩm..." aria-label="input search">
                                <span class="close-search"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"></path></svg></span>
                            </div>
                        </form>
                        <button class="search-close" onclick="searchclose();">
                <i class="fal fa-times"></i>
            </button>
                        <div class="smart-search-wrapper ajaxSearchResults" id="ajaxSearchResults-3" style="display: none">
                            <div class="resultsContent"></div>
                        </div>
                        <div class="searchform-backdrop"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div>
    @* <partial name="~/Areas/Customer/Views/Carts/shoppingcart.cshtml" /> *@
   </div>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    

    <h1 class="hidden entry-title">Hệ thống phân phối Air Jordan chính hãng</h1>
    <div class="footer-newsletter lazyload" style="--bg-footer: url(//theme.hstatic.net/200000384421/1000955298/14/ft_newsletter_bg.png?v=20)">
        <div class="container">
            <div class="footer-newsletter-form">
                <h3 class="title">Đăng kí ngay để nhận tin tức</h3>


                <form accept-charset="UTF-8" action="/account/contact" class="contact-form" method="post">
                    <input name="form_type" type="hidden" value="customer">
                    <input name="utf8" type="hidden" value="✓">

                    <div class="input-group d-flex justify-content-center flex-nowrap">
                        <input type="hidden" id="newsletter-tags" name="contact[tags]" value="khách hàng tiềm năng, bản tin">
                        <input required="" type="email" id="newsletter-email" value="" placeholder="Nhập email" name="contact[email]" aria-label="Email Address">
                        <button type="submit">Đăng ký</button>
                    </div>
                    <div class="sitebox-recaptcha hidden">
                        This site is protected by reCAPTCHA and the Google
                        <a href="https://policies.google.com/privacy" target="_blank" rel="noreferrer">Privacy Policy</a> and <a href="https://policies.google.com/terms" target="_blank" rel="noreferrer">Terms of Service</a> apply.
                    </div>



                    <input id="91528b1c95744625bf22f40f0da0e427" name="g-recaptcha-response" type="hidden" value="03AKH6MRGd3MArDXzUQ8ys17oQy_t5h6sUaA6E9I4PTA4Fkh_50aFeyUXBmXUjOCf7HL0afmvwh4Q_EPy1WpBpJuZoxsEwBTKnjcEFHOKhSjil77HmIf0ZJSeuDcJUh-adG_FFS8pj9eD38qRxh6phVgsERF95AVewUZsBvkY2CUVgvgSFdSlPlKuB0jAa8b6bdCTCotmnarJPuJpFafgyzM30OafvidrJt8Uwhe16Y5RHjr__PxivsGUpwm6YHhUTxS0JxtRViJBYboF2nlts_R8seBfrJZt0NV2wOSVkLIH3T9COIdwQNZAAx0pYQn9lROsyabwQi0LMi0-IABsLOBBzInjw3_6vwB9X593ZMIyJPydC2efAivotIc8QDOV1mFxCFjq49NPJpGIsj_DeA8kEhDfKoA-FlS_GpLDHXE-y0lKSuAbGUL8eOsPSZH4N4ky7NYkg0er5TpJG9alcP22HUcTY_oeLK80MFInOauHlEeTUubnbNUUwdQYiZFiqxAfgUuV_QGmt">
                    <!--<script src='https://www.google.com/recaptcha/api.js?render=6LdD18MUAAAAAHqKl3Avv8W-tREL6LangePxQLM-'></script>-->
                    <!--<script>grecaptcha.ready(function() {grecaptcha.execute('6LdD18MUAAAAAHqKl3Avv8W-tREL6LangePxQLM-', {action: 'submit'}).then(function(token) {document.getElementById('91528b1c95744625bf22f40f0da0e427').value = token;});});</script>-->
                </form>

            </div>
        </div>
    </div>
    <footer class="footer">

        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-3">
                        <h3 class="footer-title text-uppercase">
                            <span>AIR JORDAN VIỆT NAM</span>
                            <i class="fal fa-angle-down"></i>
                        </h3>
                        <div class="footer-content footer-contact">
                            <p><i class="pe-7s-map-marker"> </i><span>72 Tây Sơn, Đống Đa, Hà Nội</span></p>
                            <p><i class="pe-7s-mail"></i><span>Jordanvietnam@nike.com</span></p>
                            <p><i class="pe-7s-call"></i><span>096 4907 954</span></p>

                            <div class="footer-social">

                                <a href="https://www.facebook.com/Airjordanvietnam" class="icon-1 popup-social-network" target="_blank"><i class="fab fa-facebook-f"></i></a>



                                <a href="#" class="icon-3 popup-social-network" target="_blank"><i class="fab fa-instagram"></i></a>


                                <a href="#" class="icon-4 popup-social-network" target="_blank"><i class="fab fa-twitter"></i></a>



                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-1">
                    </div>






                    <div class="col-12 col-md-2 col-lg-2">
                        <h3 class="footer-title">
                            <span>Hỗ trợ khách hàng</span>
                            <i class="fal fa-angle-down"></i>
                        </h3>
                        <div class="footer-content">
                            <ul class="footer-menu">

                                <li class="item">
                                    <a href="/pages/thong-tin-lien-he" title="Thông tin liên hệ">Thông tin liên hệ</a>
                                </li>

                                <li class="item">
                                    <a href="/pages/huong-dan-mua-hang" title="Hướng dẫn mua hàng">Hướng dẫn mua hàng</a>
                                </li>

                                <li class="item">
                                    <a href="/pages/phuong-thuc-thanh-toan" title="Phương thức thanh toán">Phương thức thanh toán</a>
                                </li>

                                <li class="item">
                                    <a href="/pages/ho-tro-va-giai-dap-thac-mac" title="Hỗ trợ và giải đáp thắc mắc">Hỗ trợ và giải đáp thắc mắc</a>
                                </li>

                            </ul>
                        </div>
                    </div>







                    <div class="col-12 col-md-2 col-lg-2">
                        <h3 class="footer-title">
                            <span>Chính sách</span>
                            <i class="fal fa-angle-down"></i>
                        </h3>
                        <div class="footer-content">
                            <ul class="footer-menu">

                                <li class="item">
                                    <a href="/pages/chinh-sach-giao-hang" title="Chính sách giao hàng">Chính sách giao hàng</a>
                                </li>

                                <li class="item">
                                    <a href="/pages/chinh-sach-doi-tra" title="Chính sách đổi trả">Chính sách đổi trả</a>
                                </li>

                                <li class="item">
                                    <a href="/pages/chinh-sach-bao-hanh" title="Chính sách bảo hành">Chính sách bảo hành</a>
                                </li>

                                <li class="item">
                                    <a href="/pages/chinh-sach-bao-mat" title="Chính sách bảo mật người dùng">Chính sách bảo mật người dùng</a>
                                </li>

                            </ul>
                        </div>
                    </div>







                    <div class="col-12 col-md-2 col-lg-2">
                        <h3 class="footer-title">
                            <span>Dịch vụ</span>
                            <i class="fal fa-angle-down"></i>
                        </h3>
                        <div class="footer-content">
                            <ul class="footer-menu">

                                <li class="item">
                                    <a href="/pages/dich-vu-ky-gui" title="Dịch vụ ký gửi">Dịch vụ ký gửi</a>
                                </li>

                                <li class="item">
                                    <a href="/pages/dich-vu-spa-va-sua-giay" title="Dịch vụ Spa và sửa giày">Dịch vụ Spa và sửa giày</a>
                                </li>

                            </ul>
                        </div>
                    </div>







                    <div class="col-12 col-md-2 col-lg-2">
                        <h3 class="footer-title">
                            <span>Thông tin</span>
                            <i class="fal fa-angle-down"></i>
                        </h3>
                        <div class="footer-content">
                            <ul class="footer-menu">

                                <li class="item">
                                    <a href="/pages/ve-chung-toi" title="Về chúng tôi">Về chúng tôi</a>
                                </li>

                                <li class="item">
                                    <a href="/blogs/news" title="Tin tức và sự kiện">Tin tức và sự kiện</a>
                                </li>

                                <li class="item">
                                    <a href="/pages/thong-tin-tuyen-dung" title="Tuyển dụng">Tuyển dụng</a>
                                </li>

                                <li class="item">
                                    <a href="/pages/dieu-khoan-dich-vu" title="Điều khoản dịch vụ">Điều khoản dịch vụ</a>
                                </li>

                            </ul>
                        </div>
                    </div>


                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="footer-wrap te">
                    <p>  <a asp-area="Customer" asp-controller="Home" asp-action="Index"> Jordan VietNam © 2021 Nike, Inc. All Rights Reserved
                </a></p>
                </div>
            </div>
        </div>
    </footer>
    <div class="back-to-top hidden">
        <a href="javascript:void(0);">
            <div class="btt-back">
                <span class="btt-label-back">back to top</span>
                <span class="btt-icon-back"><i class="fa fa-long-arrow-up"></i></span>
            </div>
        </a>
    </div>
    <div id="site-overlay" class="site-overlay"></div>
    <div class="overlay-filter"></div>
    <div id="modalAddComplete">
    </div>

    <button type="button" id="modalAddCompleteBtn" style="display: none;"></button>

    <script>
        // Get the modal
        var modalAddComplete = document.getElementById('modalAddComplete');

        // Get the button that opens the modal
        var modalAddCompleteBtn = document.getElementById("modalAddCompleteBtn");

        // When the user clicks the button, open the modal 
        modalAddCompleteBtn.onclick = function() {
            modalAddComplete.style.display = "block";
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
            if (event.target == modalAddComplete) {
                modalAddComplete.style.display = "none";
            }
        }
    </script>





    <style>
        .modal-content {
            background-color: #fefefe;
            margin: 5% auto !important;
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
            max-width: 780px;
            transform: translatey(-30px);
            transition: all .5s;
        }
        
        .close {
            color: #aaa;
            font-size: 28px;
            font-weight: bold;
            position: absolute;
            right: 0;
            top: 0;
            width: 40px;
            text-align: center;
        }
        
        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }
    </style>
    <div class="modal" id="productQuickView">
        <div class="modal-content">
            <span id="close" class="close">×</span>
            <form class="row" id="form-quick-view">
                <div class="col-12 col-md-6">
                    <div class="image-zoom">
                        <img id="p-product-image-feature" class="p-product-image-feature" src="" alt="">
                        <div id="p-sliderproduct" class="flexslider">
                            <ul class="slides"></ul>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <h4 class="p-title modal-title" id="">Tên sản phẩm</h4>
                    <p class="product-more-info">
                        <span class="product-sku">
                    Mã sản phẩm: <span id="ProductSku">01923123</span>
                        </span>
                    </p>
                    <div class="form-input product-price-wrapper">
                        <div class="product-price">
                            <span class="p-price "></span>
                            <del></del>
                        </div>
                        <em id="PriceSaving"></em>
                    </div>
                    <div class="p-option-wrapper">
                        <select name="id" class="" id="p-select-quickview"></select>
                    </div>
                    <div id="swatch-quick-view" class="select-swatch">

                    </div>
                    <div class="form-input hidden">
                        <label>Số lượng</label>
                        <input name="quantity" type="number" min="1" value="1">
                    </div>

                    <div class="form-input" style="width: 100%">
                        <button type="submit" class="btn btn-addcart" id="AddToCardQuickView">Thêm vào giỏ</button>
                        <button disabled="" class="btn btn-soldout">Hết hàng</button>
                        <div class="qv-readmore">
                            <span> hoặc </span><a class="read-more p-url" href="" role="button">Xem chi tiết</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div id="loading">
            <div></div>
        </div>
    </div>

    <script type="text/javascript" src="//theme.hstatic.net/200000384421/1000955298/14/plugins.js?v=20" defer=""></script>
    <script defer="" src="//theme.hstatic.net/200000384421/1000955298/14/function-shop.js?v=20" type="text/javascript"></script>
    <script type="text/javascript" src="//theme.hstatic.net/200000384421/1000955298/14/scripts.js?v=20" defer=""></script>



    <script>
        const asyncload = {
            init: function() {
                this.loadasyncdefer();
            },
            loadasyncdefer: () => {
                try {
                    var chatbox = document.getElementById("fb-customer-chat");
                    chatbox.setAttribute("page_id", "106709828178316"), chatbox.setAttribute("attribution", "biz_inbox"), window.fbAsyncInit = function() {
                            FB.init({
                                xfbml: !0,
                                version: "v12.0"
                            })
                        },
                        function(t, e, n) {
                            var c, i = t.getElementsByTagName(e)[0];
                            t.getElementById(n) || ((c = t.createElement(e)).id = n, c.src = "https://connect.facebook.net/vi_VN/sdk/xfbml.customerchat.js", i.parentNode.insertBefore(c, i))
                        }(document, "script", "facebook-jssdk");
                } catch (err) {
                    console.log(err);
                }
            }
        }
        $(window).load(() => {
            if (navigator[_0x2c0xa[2]][_0x2c0xa[1]](_0x2c0xa[0]) == -1) {
                setTimeout(() => {
                    asyncload.init();
                }, 2000)
            }
        })
        $(".add-height-img img").each(function() {
            $(this).attr('width', '600').attr('height', '600').addClass('dt-width-auto');
        });
    </script>



    <div>
        <div class="grecaptcha-badge" data-style="bottomright" style="width: 256px; height: 60px; position: fixed; visibility: hidden; display: block; transition: right 0.3s ease 0s; bottom: 14px; right: -186px; box-shadow: gray 0px 0px 5px; border-radius: 2px; overflow: hidden;">
            <div class="grecaptcha-logo"><iframe title="reCAPTCHA" src="https://www.google.com/recaptcha/api2/anchor?ar=1&amp;k=6LdD18MUAAAAAHqKl3Avv8W-tREL6LangePxQLM-&amp;co=aHR0cHM6Ly93d3cuam9yZGFuMS52bjo0NDM.&amp;hl=en&amp;v=NZrMWHVy58-S9gVvad9HVGxk&amp;size=invisible&amp;cb=z0pexgqgnddp"
                    width="256" height="60" role="presentation" name="a-oo7t767hlbn" frameborder="0" scrolling="no" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox"></iframe></div>
            <div class="grecaptcha-error"></div><textarea id="g-recaptcha-response-100000" name="g-recaptcha-response" class="g-recaptcha-response" style="width: 250px; height: 40px; border: 1px solid rgb(193, 193, 193); margin: 10px 25px; padding: 0px; resize: none; display: none;"></textarea></div>
        <iframe style="display: none;"></iframe>
    </div><iframe src="//tpc.googlesyndication.com/sodar/Beq5YUTp.html" width="0" height="0" style="display: none;"></iframe>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
   
    <script type="text/javascript" src="~/js/script.js"></script>
    <script type="text/javascript" src="~/js/site.js"></script>
    
   
     @await RenderSectionAsync("Scripts", required: false)

</body>
    
    

</html>